.header{
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
span{
    font-size: 30px;
    color: wheat;
}
 ul{
    display:  flex;
}
ul li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
#link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;


}
.active{
    color: yellowgreen !important;
    font-size:22px ;


}

